<div style="padding: 3rem;">
    <h1>
        Deep Linking Launch
    </h1>

    <div style="display: flex; flex-direction: column; gap: 3rem;">
        <div>
            <h4>Deep Linking Return Url</h4>
            <p>
                {{ deep_linking_return_url }}
            </p>
        </div>

        <div>
            <h4>Select resource to deep link:</h4>

            <div style="display: flex; flex-direction: column; gap: 2rem;">
            {% for resource in resources %}
                <form method="POST" action="{{ deep_linking_return_url }}" style="display: flex; align-items: center;">
                    {# note to self. <input disabled ... /> will not include the input value in the form #}
                    <input type="hidden" name="JWT" value="{{ resource.jwt }}" />
                    <button type="submit" style="width: 100%; padding: 1rem;">
                        {{ resource.title }} ({{ resource.custom_params.question }})
                    </button>
                </form>
            {% endfor %}
            </div>
        </div>
    </div>
</div>