<div style="padding: 3rem;">
    <h1>
        Resource Launch
    </h1>

    <h2>
        {{custom_message}}
    </h2>

    <p>
        Hello {{name}}. Your email is: {{email}}
    </p>
    
    <div>
        {% for role in roles %}
            <div>
                {{role}}
            </div>
        {% endfor %}
    </div>

    <h2>
        Assignment Form
    </h2>

    {{ form }}
</div>